html,
body,
.app{
  height:100vh;
  padding:1em;
  background-color:#1b1c1d!important;
  overflow: hidden!important;
}
body{
  position:relative;
}

.no{
  text-decoration: none;
  color:white;
}

.no:visited{
  text-decoration: none;
  color:white;
}

.sign_out_icon{
  float:right;
  color:white;
}

/* .right{
  float:right;
} */

.header-name{
  padding-top:25px!important;
}

.avatar-text{
  padding-left:50px!important;
  text-decoration: underline;
  color:lightblue;
}

.grid-name{
  color:#1b1c1d!important;
  padding-top:25px!important;
}

.avatar-image{
  position: relative!important;
  overflow:hidden!important;
  max-width:200px!important;
  width:100%!important;
  max-height:200px!important;
  height:100%!important;
}
